body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2E3D34;
    height: 100vh;
}

.gameBody {
    height: 90%;
}

.beforeGame {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.beforeGame p {
    color: white;
}

.startGame {
    height: 200px;
    width: 400px;
    background-color: #545A4D;
    color: white;
    border: solid;
    font-size: 60px;
    margin: 15px;
}

.startGame:hover {
    background-color: #42473d;
}

.game {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.roundNumber {
    font-size: 15px;
    padding: 5px;
    border: solid #C3B59C 2px;
}

.result {
    flex-direction: column;
    border: solid #C3B59C 2px;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 3px;
    margin: 10px;
    font-size: 20px;
}

.roundResult {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: solid #C3B59C 2px;
}

.line {
    width: 0.5%;
    background-color: #C3B59C;
}

.winner {
    padding: 5px;
}

.resultParent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.playerWeaponParent {
    width: 49.75%;
}

.compWeaponParent {
    width: 49.75%;
}

.button {
    height: 60px;
    width: 120px;
    font-size: 25px;
    background-color: #545A4D;
    border: solid;
    color: white;
}

.button:hover {
    background-color: #42473d;
}

.gameResults {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.wins {
    display: flex;
    border-top: solid #C3B59C 2px;
    width: 80%;
}

.winsChild {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    text-align: center;
    border: solid #C3B59C 2px;
    border-top: none;
}

.restartDiv {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    font-size: 30px;
}

.restartButton {
    margin-top: 5px;
    height: 60px;
    background-color: rgb(48, 48, 48);
    border: none;
    color: white;
    font-size: 25px;
}

.spodek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: rgb(150, 150, 150);
}

.spodek a {
    color: rgb(150, 150, 150);
    font-size: 10px;
}